body {
    font-family: Georgia,Times,Times New Roman,serif;
    color: #B7B347
}

blockquote {
    text-align: center;
    font-size: 300%;
}

cite {
    font-size: larger;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.logo {
    font-family: Arial Black, sans-serif;
    color: #fffbfc;
}

.picture {
    background-image: url("https://farm9.staticflickr.com/8197/8248259072_73a4f5017c_b.jpg");
}

.options {
    background-color: #23395B;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 26px;
}

.content {
    width: 100%;
    background-color: #30332e;
    padding-top: 12px;
    padding-bottom: 12px;
}

.top-bar {
    background-color: #010400;
}
