<!DOCTYPE html>
<html>
<head>
<script>
<script type="text/javascript" src="./helper.js"></script>
</script>
</head>

<body>

<h1>My Web Page</h1>

<p id="demo">A Paragraph</p>

<button  v-on:click="myFunction()">Try it</button>

</body>
</html>