<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/main.css" type="text/css" />
</script>
</head>

<body>


<h1>My Web Page</h1>
<h4>Ok, now for the Parallax! </h4>
<div class="parallax">
  <p class="parallax__layer parallax__layer--back"> Yo, how you doing? </p>
  <p class="parallax__layer parallax__layer--base"> How you doing? </p>
</div>

</body>
</html>
